<div class="calendarbox module" id="calendarbox" style="display: none; position: absolute;">
    <div>
        <a href="#" class="calendarnav-previous">&lt;</a>
        <a href="#" class="calendarnav-next">&gt;</a>
    </div>
    <div id="calendarin" class="calendar">
        <table>
            <caption>6월 2023</caption>
            <tbody>
            <tr>
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
            </tr>
            <tr>
                <td class="nonday"></td>
                <td class="nonday"></td>
                <td class="nonday"></td>
                <td class="nonday"></td>
                <td class=""><a href="#">1</a></td>
                <td class=""><a href="#">2</a></td>
                <td class=""><a href="#">3</a></td>
            </tr>
            <tr>
                <td class=""><a href="#">4</a></td>
                <td class=""><a href="#">5</a></td>
                <td class=""><a href="#">6</a></td>
                <td class=""><a href="#">7</a></td>
                <td class=""><a href="#">8</a></td>
                <td class=""><a href="#">9</a></td>
                <td class=""><a href="#">10</a></td>
            </tr>
            <tr>
                <td class=""><a href="#">11</a></td>
                <td class=""><a href="#">12</a></td>
                <td class=""><a href="#">13</a></td>
                <td class=""><a href="#">14</a></td>
                <td class=""><a href="#">15</a></td>
                <td class=""><a href="#">16</a></td>
                <td class=""><a href="#">17</a></td>
            </tr>
            <tr>
                <td class="today"><a href="#">18</a></td>
                <td class=""><a href="#">19</a></td>
                <td class=""><a href="#">20</a></td>
                <td class=""><a href="#">21</a></td>
                <td class=""><a href="#">22</a></td>
                <td class=""><a href="#">23</a></td>
                <td class=""><a href="#">24</a></td>
            </tr>
            <tr>
                <td class=""><a href="#">25</a></td>
                <td class=""><a href="#">26</a></td>
                <td class=""><a href="#">27</a></td>
                <td class=""><a href="#">28</a></td>
                <td class=""><a href="#">29</a></td>
                <td class=""><a href="#">30</a></td>
                <td class="nonday"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="calendar-shortcuts">
        <a href="#">어제</a>&nbsp;|&nbsp;
        <a href="#">오늘</a>&nbsp;|&nbsp;
        <a href="#">내일</a>
    </div>
    <p class="calendar-cancel"><a href="#">취소</a></p>
</div>