{% extends "base.html" %}
{% load static %}
{% include "sidebar.html" %}
{% block content %}
    <div id="root" style="height: 100%">
        <div class="pc_wrap" style="">
            <div class="wrap sub_wrap">
                <div class="container">
                    <div class="inner">
                        <div class="contents">
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_hyundai.svg' %}"
                                                                     alt="현대자동차" class="car_logo"><span
                                                class="car_enter">현대자동차</span><em class="c_prd_name">아반떼</em></div>
                                        <div class="img_area"><img
                                                src="{% static '/image/reserve/res_avante.png' %}"
                                                alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item end" data-value="2300000000165_1"><a
                                                class="dill_list soldout">
                                            <div class="car_name">
                                                <p class="main_name">[제휴사차량] 아반떼 1.6 LPG</p><span class="sb_text">2020년식 · 5인승</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="price_num"><span
                                                            class="price_regular">358,400원</span>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약마감</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item end" data-value="2300000000166_2"><a
                                                class="dill_list soldout">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="gray">제휴사차량</em></div>
                                                <p class="main_name">[제휴사차량] 아반떼 1.6 가솔린</p><span class="sb_text">20~23년식 · 5인승</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">358,400원</span>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약마감</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item" data-value="HD14490001MR_3"><a class="dill_list">
                                            <div class="car_name"><p class="main_name">아반떼 1.6 가솔린</p><span
                                                    class="sb_text">20~22년식 · 5인승</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">372,600원</span><span
                                                            class="price_sale">120,570원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_hyundai.svg' %}"
                                                                     alt="현대자동차" class="car_logo"><span
                                                class="car_enter">현대자동차</span><em class="c_prd_name">아이오닉 6</em></div>
                                        <div class="img_area"><img
                                                src="{% static '/image/reserve/res_ioniq6.png' %}"
                                                alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item" data-value="2300000000108_9"><a class="dill_list">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="blu" style="margin-right: 3px;">전기차</em>
                                                </div>
                                                <p class="main_name">아이오닉 6 롱레인지</p><span
                                                    class="sb_text">2023년식 · 5인승</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">541,100원</span><span
                                                            class="price_sale">123,720원</span><em class="rate">77%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item" data-value="2300000000109_10"><a class="dill_list">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="blu" style="margin-right: 3px;">전기차</em>
                                                </div>
                                                <p class="main_name">아이오닉 6 롱레인지 AWD</p><span class="sb_text">2023년식 · 5인승 · 상시4륜구동</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">579,100원</span><span
                                                            class="price_sale">125,710원</span><em class="rate">78%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_hyundai.svg' %}"
                                                                     alt="현대자동차" class="car_logo"><span
                                                class="car_enter">현대자동차</span><em class="c_prd_name">그랜저</em></div>
                                        <div class="img_area"><img
                                                src="{% static '/image/reserve/res_grandeur.png' %}"
                                                alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item" data-value="2300000000152_13"><a class="dill_list">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="gray">제휴사차량</em></div>
                                                <p class="main_name">[제휴사차량] 그랜저 2.5 가솔린</p><span class="sb_text">20~21년식 · 5인승</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">564,900원</span><span
                                                            class="price_sale">182,800원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item" data-value="HD04640001MR_14"><a class="dill_list">
                                            <div class="car_name"><p class="main_name">그랜저 2.5 가솔린</p><span
                                                    class="sb_text">20~22년식 · 5인승</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">579,100원</span><span
                                                            class="price_sale">187,390원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_hyundai.svg' %}"
                                                                     alt="현대자동차" class="car_logo"><span
                                                class="car_enter">현대자동차</span><em class="c_prd_name">스타리아</em></div>
                                        <div class="img_area"><img
                                                src="{% static '/image/reserve/res_staria.png' %}"
                                                alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item" data-value="HD40170001MR_16"><a class="dill_list">
                                            <div class="car_name"><p class="main_name">스타리아 2.2 디젤 11인승</p><span
                                                    class="sb_text">21~23년식 · 11인승 · 만 26세이상</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">607,600원</span><span
                                                            class="price_sale">207,160원</span><em class="rate">66%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_hyundai.svg' %}"
                                                                     alt="현대자동차" class="car_logo"><span
                                                class="car_enter">현대자동차</span><em class="c_prd_name">싼타페</em></div>
                                        <div class="img_area"><img
                                                src="{% static '/image/reserve/res_santafe.png' %}"
                                                alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item" data-value="2300000000157_17"><a class="dill_list">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="gray">제휴사차량</em></div>
                                                <p class="main_name">[제휴사차량] 싼타페 2.2 디젤</p><span class="sb_text">2021년식 · 7인승</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">626,600원</span><span
                                                            class="price_sale">202,770원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item" data-value="HD12850001MR_18"><a class="dill_list">
                                            <div class="car_name"><p class="main_name">싼타페 2.2 디젤 AWD</p><span
                                                    class="sb_text">21~22년식 · 5인승 · 상시4륜구동</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">640,800원</span><span
                                                            class="price_sale">207,360원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_hyundai.svg' %}"
                                                                     alt="현대자동차" class="car_logo"><span
                                                class="car_enter">현대자동차</span><em class="c_prd_name">팰리세이드</em></div>
                                        <div class="img_area"><img
                                                src="{% static '/image/reserve/res_palisade.png' %}"
                                                alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item" data-value="2300000000169_25"><a class="dill_list">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="gray">제휴사차량</em></div>
                                                <p class="main_name">[제휴사차량] 팰리세이드 3.8 가솔린 </p><span class="sb_text">20~22년식 · 8인승</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">721,500원</span><span
                                                            class="price_sale">233,470원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item" data-value="2300000000168_26"><a class="dill_list">
                                            <div class="car_name">
                                                <div class="tag_box"><em class="gray">제휴사차량</em></div>
                                                <p class="main_name">[제휴사차량] 팰리세이드 3.8 가솔린 AWD</p><span class="sb_text">20~22년식 · 8인승 · 상시4륜구동</span>
                                            </div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">790,300원</span><span
                                                            class="price_sale">236,820원</span><em class="rate">70%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="list_item" data-value="HD36020001MR_27"><a class="dill_list">
                                            <div class="car_name"><p class="main_name">팰리세이드 2.2 디젤 AWD</p><span
                                                    class="sb_text">2020년식 · 7인승 · 상시4륜구동</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="rate_box">회원할인</div>
                                                    <div class="price_num"><span
                                                            class="price_regular">797,400원</span><span
                                                            class="price_sale">258,030원</span><em class="rate">68%</em>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_genesis.svg' %}" alt="제네시스" class="car_logo">
                                            <span class="car_enter">제네시스</span>
                                            <em class="c_prd_name">GV60</em></div>
                                        <div class="img_area">
                                            <img src="{% static '/image/reserve/res_gv60.png' %}" alt="">
                                        </div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item end" data-value="2300000000102_33"><a class="dill_list soldout">
                                            <div class="car_name"><p class="main_name">G90 (HI) 3.8 가솔린 AWD</p><span
                                                    class="sb_text">2021년식 · 5인승 · 상시4륜구동</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="price_num">
                                                        <span class="price_regular">1,236,500원</span>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약마감</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dill_box_type">
                                <div class="dill_box_wrap">
                                    <div class="top_cont">
                                        <div class="main_ctext"><img src="{% static '/image/reserve/logo_genesis.svg' %}" alt="제네시스" class="car_logo">
                                            <span class="car_enter">제네시스</span>
                                            <em class="c_prd_name">G90 </em>
                                        </div>
                                        <div class="img_area">
                                            <img src="{% static '/image/reserve/res_g90.png' %}" alt=""></div>
                                    </div>
                                    <ul class="dill_list_box">
                                        <li class="list_item end" data-value="HD35010001MR_34"><a class="dill_list soldout">
                                            <div class="car_name"><p class="main_name">G90 3.5 가솔린 AWD</p><span
                                                    class="sb_text">2022년식 · 5인승 · 상시4륜구동</span></div>
                                            <div class="price_wrap">
                                                <div class="price_info">
                                                    <div class="price_num">
                                                        <span class="price_regular">1,367,000원</span>
                                                    </div>
                                                </div>
                                                <div class="btn_group">
                                                    <button class="btn type01">예약마감</button>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/skrentalApp/bundle.07d29299bb.js"></script>

    <script id="kakao-sdk" src="/developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock %}